<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
        <div class="col-md-3 col-sm-4">
            <div class="card" style="width: 18rem;">
                
                    <img style="height: 400px;width: 300px;" src="{{datas.image.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">{{datas.name}}</h5>
                    <p class="card-text">{{datas.auther}}</p>
                    <form action="{% url 'book_accept' id=datas.id %}" method="post">
                        {% csrf_token %}
                    <input type="text" name="quantity" placeholder="quantity">
                        <input type="submit" value="Book">
                    </form>
                    </div>
                    {% if error %}
                    {{error}}
                    {% endif %}
                
            </div>
        </div>
        </div>
    </div>
   
</body>
</html>