<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="{% url 'update' %}">
        {% csrf_token %}
        <label for="fname">first name</label><br>
        <input type="text" placeholder="Name" name="name" value="{{data.first_name}}"><br>
        <label for="fname">e-mail:</label><br>
        <input type="text" id="fname" name="e_mail" value="{{data.email}}"><br>
        <label for="fname">phone number:</label><br>
        <input type="text" id="fname" name="phone" value="{{data.phone_number}}"><br>
        <button type="submit">enter</button>
    </form>
</body>
</html>