<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="2">
        <tr>
            <th>book name</th>
            <th>auther</th>
            <th>category</th>
            <th>price</th>
            <th>quantity</th>
            <th>publisher</th>
            <th>published date</th>
            <th colspan="2">action</th>
        </tr>
        {% for i in datas %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.auther}}</td>
            <td>{{i.category}}</td>
            <td>{{i.price}}</td>
            <td>{{i.quantity}}</td>
            <td>{{i.publisher}}</td>
            <td>{{i.published_date}}</td>
            <td><a href="#">update</a></td>
            <td><a href="#">delete</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>