<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>user name : {{data.username}}</data></h2><br>
    <h2>first name : {{data.first_name}}</data></h2><br>
    <h2>e-mail : {{data.email}}</data></h2><br>
    <h2>phone number : {{data.phone_number}}</data></h2><br>
    <button type="submit"><a href="{% url 'update' %}">profile update</a></button>
</body>
</html>